<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GhostPost: Private Post</title>
</head>

<body>
    <h1>{{ page_title }}</h1>
    <br>
    <div style="padding: 4px; border:goldenrod 3px; margin-bottom: 2px;">
        {% if post.is_boast == True %}
        <h3>Boast</h3>
        {% else %}
        <h3>Roast</h3>
        {% endif %}
        <h3>{{ post.post_content }}</h3>

        <a href="{% url 'upvote' post.id %}">Upvote</a>{{ post.upvotes }}
        <a href="{% url 'downvote' post.id %}">Downvote</a>{{ post.downvotes }}
        <h3>{{ post.vote_score }}</h3>

        <h4>Posting Date & Time: {{ post.post_datetime }}</h4>
        <br>
        <h3>Having second thought and want to make this posting dissapear ?</h3>
        <a href="{% url 'delete_post' post.id %}">DELETE</a>

    </div>
</body>

</html>